main {
	min-height: 80vh;
}

h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}

h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
}

.h3-product-price {
	padding: 1rem 0;
}

.rating span {
	margin: 0.1rem;
}

.rating .span-rating-text {
	font-size: 0.9rem;
	padding: 0 0 0 0.3rem;
}

.userlist-btn {
	min-width: 35px;
	margin: 0 5px;
}
